html, body {
    background-color: rgb(255, 249, 237);
    overflow: hidden;
}

body{
    margin: 0;
}

@font-face {
    font-family: 'Magilio';
    src: url('./fonts/Magilio.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/Helvetica.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Bold';
    src: url('./fonts/Helvetica-Bold.ttf') format('truetype');
    font-style: normal;
}

*{
    text-decoration: none;
}

.navbar{
    padding-right: 15px;
    padding-left: 15px;
    background: none;

    padding: 10px 0;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-logo{
    font-family: 'Magilio';  
    color:rgb(0, 0, 0);
    font-size: 30px;
    letter-spacing: -0.05cap;
    text-decoration: none;
    padding-left: 10px;
    padding-top: 10px;
}

.navbar-logo:hover{
    scale: 1.01;
}

.navbar-list{
    gap: 20px;
    display: flex;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-right: 10px;
    padding-top: 10px;
}

.navbar-button{
    font-family: 'Helvetica';
    background: none;
    cursor: pointer;
    font-size: large;
    padding-left:  10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.navbar-button:hover{
    scale: 1.05;
}

.title-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    font-family: 'Magilio';
    font-size: 100px;
    letter-spacing: 0cap;
    margin-bottom: 0px;
}

.img-container{
    position: relative;
}

.roy-image{
    position: fixed;
    transform: scalex(-1);
    bottom: 20px;
    left: 20px;
    width: 100px;
    height: auto;
    z-index: 2000;
    pointer-events: none;
}